@charset "UTF-8";

/* ===============================
   Web Fonts
================================ */

/* Light */
@font-face {font-family:'Pretendard'; src:url('../font/Pretendard-Light.woff2') format('woff2'), url('../font/Pretendard-Light.woff') format('woff'); font-weight:300; font-style:normal} 
/* Regular */
@font-face {font-family:'Pretendard'; src:url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff'); font-weight:400; font-style:normal} 
/* Medium */
@font-face {font-family:'Pretendard'; src:url('../font/Pretendard-Medium.woff2') format('woff2'), url('../font/Pretendard-Medium.woff') format('woff'); font-weight:500; font-style:normal} 
/* SemiBold */
@font-face {font-family:'Pretendard'; src:url('../font/Pretendard-SemiBold.woff2') format('woff2'), url('../font/Pretendard-SemiBold.woff') format('woff'); font-weight:600; font-style:normal} 
/* Bold */
@font-face {font-family:'Pretendard'; src:url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff'); font-weight:700; font-style:normal} 
